/* general styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* utilities */

.container {
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
}

.float {
  float: left;
}

.float-dx {
  float: right;
  padding: 0 16px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.w-30 {
  width: 30%;
}

.w-25 {
  width: 25%;
}

.w-33 {
  width: calc(100% / 3);
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;
}

.relative {
  position: relative;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* header */
#main-header {
  position: fixed;
  width: 100%;
  max-width: 100%;
  background: #fff;
  top: 0;
  z-index: 1;
}

.menu-light {
  text-align: right;
  width: 100%;
  display: none;
}

.img-logo {
  margin-top: 5px;
}

.navbar {
  width: 1070px;
  max-width: 100%;
  margin: 0 auto;
  line-height: 80px;
}

.menu-nav {
  padding: 0;
  text-align: right;
  font-size: 80%;
}

.menu-nav li:nth-last-child(2) a {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.menu-nav li {
  display: inline-block;
  list-style: none;
}

.menu-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
  color: #000;
}

.menu-nav li a:hover {
  color: #ce9a9a;
}

/* jumbotrone */

#jumbotron {
  height: 550px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  margin-top: 80px;
}

#jumbotron h1 {
  font-size: 48px;
  font-weight: 600;
}

#jumbotron h3 {
  font-size: 16px;
  font-weight: 400;
  padding: 25px 0 15px;
}

/* prodotti */
#products {
  margin-top: 50px;
  margin-bottom: 50px;
}

#products .box {
  background: #fafafa;
  text-align: center;
  padding: 75px 75px 35px;
}

#products .box-sx {
  margin-right: 16px;
}

#products .box-dx {
  margin-left: 16px;
}

#products .box img {
  max-width: 100%;
  width: 230px;
  margin-top: 20px;
}

#products .box a::after {
  display: inline-block;
  content: '\003e';
  margin-left: 10px;
}

#products .box .cta {
  display: block;
  text-decoration: none;
  color: #0070c8;
  font-size: 18px;
}

#products .box h2,
#products .box h4 {
  font-weight: 400;
}

#products .box h2 {
  font-size: 38px;
}

#products .box h4 {
  font-size: 24px;
  margin: 20px 0 15px;
}

/* how wokrs */
.how-works-bg {
  height: 400px;
  background-image: url(../img/helbiz-banner.jpg);
  background-size: cover;
  background-position: center;
}

#how-works img {
  max-width: 100%;
}

.contents {
  padding-bottom: 60px;
}

#how-works .col-sx,
#how-works .col-dx {
  padding-top: 100px;
}

#how-works .col-sx {
  text-align: right;
}

#how-works .col-sx h3 {
  display: inline-block;
  font-weight: 600;
  font-size: 30px;
  width: 230px;
  text-align: left;
}

#how-works .col-dx h4 {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

#how-works .col-dx h5 {
  font-weight: 400;
  font-size: 16px;
}

#how-works .img-phone {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 380px;
}

/* smart mobility */
#smart-mobility {
  margin-top: 50px;
  margin-bottom: 50px;
}

#smart-mobility .smart-mobility-bg {
  background-image: url(../img/scooter-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-bottom: 50px;
}

#smart-mobility .smart-mobility-bg .text {
  color: #fff;
  text-align: center;
  width: 60%;
  margin: auto;
  padding-top: 20px;
}

#smart-mobility h2 {
  font-size: 48px;
  font-weight: 600;
}

#smart-mobility h4 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

#smart-mobility a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}

#smart-mobility a::after {
  display: inline-block;
  content: '\003e';
  margin-left: 10px;
}

/* 2 columns smart-mobility */
#smart-mobility .bg-sx {
  background: linear-gradient(#41566a, #252f38);
  text-align: center;
  padding-top: 40px;
  color: #fff;
}

#smart-mobility .col-sx,
#smart-mobility .col-dx  {
  height: 500px;
  overflow: hidden;
}

#smart-mobility .col-sx img {
  position: absolute;
  max-width: 100%;
  left: 0;
  margin-top: 30px;
}

#smart-mobility .bg-dx {
  background-image: url(../img/cities.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 40px;
  color: #fff;
}

#smart-mobility .container .float {
  padding: 0 16px 0 0;
}

#smart-mobility .container .float:last-child {
  padding: 0 0 0 16px;
}

/* helbiz-family */
#helbiz-family {
  height: 400px;
  background-image: url(../img/social-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

#helbiz-family .bg-family {
  background: #fff;
  height: 200px;
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#helbiz-family .bg-family .text-family {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#helbiz-family .bg-family h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

#helbiz-family .bg-family h2::before {
  display: inline-block;
  content: '\0023';
}

#helbiz-family .bg-family .text-family ul {
  text-align: center;
}

#helbiz-family .bg-family .text-family li {
  display: inline-block;
  padding: 0;
  list-style: none;
}

#helbiz-family .bg-family .text-family li a {
  color: #000;
  text-decoration: none;
  font-size: 32px;
  padding: 0 10px;
}

#helbiz-family .bg-family .text-family li a:first-child:hover {
  color: #ce9a9a;
}

/* footer */
#footer {
  background: #000;
  padding: 100px 0;
  height: 700px;
  color: #fff;
}

.footer-link {
  width: 1070px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 90px;
}

#footer .footer-link h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 16px;
}

/* footer-link */
#footer .footer-link img {
  vertical-align: middle;
}

#footer .footer-link li {
  list-style: none;
}

#footer .footer-link li a {
  line-height: 30px;
  text-decoration: none;
  color: #696969;
}

#footer .footer-link li a:hover {
  color: #fff;
}

#footer .border {
  border-bottom: 2px solid #1a1a1a;
  max-width: 100%;
}

/* footer-social */

.footer-social {
  width: 1070px;
  max-width: 100%;
  margin: 0 auto;
  line-height: 100px;
}

#footer .footer-social li {
  display: inline-block;
  list-style: none;
}

#footer .footer-social li a {
  text-decoration: none;
  color: #fff;
  font-size: 23px;
  padding-right: 20px;
}

#footer .footer-social li a:hover {
  color: #ce9a9a;
}

#footer .footer-social a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}
 /* footer-app */

.footer-app {
  width: 1070px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer-app img {
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-right: 20px;
  width: 120px;
}



/* Responsive */
/* large to mid device */
@media all and (min-width: 769px) and (max-width: 1200px) {
  .navbar {
    width: 90%;
  }

  .footer-link {
    width: 80%;
    text-align: center;
  }

  .footer-mid {
    width: 100%;
    text-align: center;
    line-height: 50px;
  }

  #how-works .col-dx {
  padding-left: 40px;
}

  #footer .border {
    width: 80%;
  }
}

/* mid to small */

@media all and (max-width: 768px) {
  .navbar {
    width: 90%;
  }
  .menu-nav{
    display: none;
  }

  .menu-light {
    display: block;
  }

  .menu-light a {
    color: #000;
  }

  .menu-light a:hover {
    color: #ce9a9a;
  }

  .w-50 {
    width: 100%;
  }

  .img-phone {
    display: none;
  }

  .w-33 {
    width: 50%;
  }

  .how-works-bg {
    width: 100%;
    background-position: left;
  }

  #how-works .col-sx,
  #how-works .col-dx {
    text-align: center;
  }

  #products .box-sx {
    padding: 20px;
    margin: 0;
  }

  #products .box-dx {
    padding: 20px;
    margin-top: 50px;
    margin: 50px 0 0 0;
  }

  #smart-mobility .container .float {
    padding: 0;
  }

  #smart-mobility .container .float:last-child {
    padding: 0;
    margin-top: 50px;
  }

  .footer-mid {
    width: 100%;
    text-align: center;
    line-height: 45px;
  }

  .footer-link {
    padding-bottom: 45px;
  }

  #footer {
    padding: 50px 0;
  }

  #footer .border {
    width: 80%;
  }

  .xs-full {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  .xs-center {
    width: calc(100% / 3);
    text-align: center;
  }
}
